.radio-button .radio{
    -fx-border-width     : 1px   ;
    -fx-border-color     : #000  ;
    -fx-background-color : white ;
    -fx-background-image : null  ;
    -fx-border-radius    : 30px  ;
}
.radio-button .radio:selected{
    -fx-background-color : white ;
    -fx-background-image : null  ;
}
.radio-button -radio:armed{
    -fx-background-color : white ;
    -fx-background-image : null  ;
}
.radio-button -radio:determinate{
    -fx-background-color : white ;
    -fx-background-image : null  ;
}
.radio-button -radio:indeterminate{
    -fx-background-color : white ;
    -fx-background-image : null  ;
}

.radio-button {
    -fx-border-radius: 30px;
    -fx-background-radius: 30px;
    -fx-border-color: orange;
    -fx-border-width: 3px;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-label-padding: 2px 2px;
    -fx-background-color: gray;
    -fx-font-family: "Times New Roman", sans-serif;
    -fx-text-fill: white;
}