#scene1{
	-fx-background-image: url("map1.jpg");
    -fx-background-size: cover;
}

#bt1{
-fx-border-color: #fff;
-fx-background-color: #fff;
-fx-text-fill: #fff;
}


#completed{
    -fx-alignment: center;
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-background-color:#fff;
}

#infoLabel{
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-background-color:#fff;
    -fx-color:#000;
}